/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/08/2015, 23:00:59
    Author     : Ronald
*/
/*------------------------Sesion Administrador-------------------------*/
#body{
     background: url("../img/fondo.png") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.formulario{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px; 
}

.img{
    width: 320px;
    height: 210px;
    margin: 0px 37px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
#loguin{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: url("../img/fond.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px black;   
}

.entrada{
    margin: 5px 58px;
    width: 280px; height: 30px; 
    font-size: 15px; font-family: inherit;
    border: 1px solid #CCD6DD;
    border-radius: 3px;
    
}

.check:first-child{
    margin: 5px 0px 10px 58px
}

.btn{
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px 0px 10px;
    font-size: 15px; font-family: inherit;
    border: 1px solid darkorange;
    border-radius: 3px;
    width: 140px; height: 27px; 
    box-shadow: 0 0 10px black;   
}

.legend{
    text-align: center;
    font-family: cursive;
    margin-top: 0;
    padding-top: 15px
}

/*------------------------------Ver Usuario----------------------------*/

.consultaUsuario{
    margin: 68px 0 0 150px;
    width: 80%;
   
    border: 1px black solid;
}

.th{
    background: lightblue;
}

.td{
  background: white;  
} 

.boxCRUD{
    width: 130px; 
    position: absolute;
    top: 318px;
    left: 195px;
}

.CRUDusuario{
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 20px 0px 0px;
    font-size: 13px; font-family: inherit;
    border-radius: 3px;
    width: 120px; height: 25px;       
}

.inpeliminar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 108px; height: 22px; 
    font-size: 12px; font-family: inherit;
    border: 1px solid #CCD6DD;
    border-radius: 3px;
    padding: 0 5px;
}

.inpeliminar:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

/*--------------------------Crear Eventos-----------------------------------*/
.form_Evento{
    margin: 50px -65px;
    border: 1px black dashed;
    padding: 15px;
    width: 265px
}

.form_even{
    margin: 12px 0; 
    font-size: 13px; font-family: inherit;
    border-radius: 3px;
    padding: 0 5px;
}

.form_labeleven{
    margin-right: 10px; 
    text-align: center; 
    font-weight:bold; 
    color: #9B9B9B; 
    font-size: 16px;
}

.form_peven{
   font-size: 16px;
   font-weight: bold
}

.consultaEvento{
    margin: 70px 0 0 200px;
    width: 50%;
    border: 1px black solid;
    position: absolute;
    top: 280px;
    left: 320px;
}

.for_btn{
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 10px 15px 0px;
    font-size: 12px; font-family: inherit;
    border-radius: 3px;
    width: 100px; height: 25px; 
}

.boxCRUDevent{
    width: 530px;
    position: absolute;
    top: 300px;
    left: 520px;
}

.CRUDevento{
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 20px 2px 0px;
    font-size: 13px; font-family: inherit;
    border-radius: 3px;
    width: 120px; height: 25px; 
}