/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2015, 17:17:56
    Author     : Ronald
*/

body{
    background: url("../img/fondo.png") no-repeat fixed center  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    margin: 0
}

/*-------------------------------Barra de Sesión---------------------------*/
.barraini{
    background: black;
    position: fixed;
    height: 45px; width: 1350px;
    top: 0 ; left: 0;
    z-index: 9
}

.psesion{
    float: right;
    margin: 14px 10px ;
    padding-right: 20px;
    color: #BFBFBF;
    font-size: 14px;
    line-height: 14px;
    font-family: cursive;
    font-weight: bold;
    border-right: 1px white solid  
}
.psesion:first-child {
    border-right: none;
    margin-right: 50px;  
}
.sesion{
    font-size: 14px;
    line-height: 14px;
    font-family: cursive;
    font-weight: bold;
}

/*-------------------------Encabezado-----------------*/
#fondo{
    background: url("../img/fond.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 45px 130px 15px; /*position: relative;*/ top: 0; box-shadow: 0 0 10px black; 
}

.imgini{
    float: left;
    margin: 20px 35px ; height: 140px  ; width:400px;
    
}

h1{
    padding: 42.8px 70px;
    text-align: center;
    margin-top: 0
}


/*----------------------Menu-----------------------*/
.menu{
        background:#333;
        background-image: -webkit-linear-gradient(bottom, #1B1B1B 10%, #363636 55%, #1B1B1B 78%);
        box-shadow: 0 0 10px #000;
        font-size: 14px;
        text-transform:uppercase;
        border-top:1px solid #000;         
        height: 40px;
        /*position: relative*/
}
header nav ul{
    list-style: none;
    margin: 0px auto;
    width: 715px;
    padding: 0px
}
nav ul li:hover > ul {
    display:block;
}
header nav ul li{
    border-right: 1px solid #181818; 
    float:left;
    padding: 12px 35px;
    /*position: relative*/
}
header nav ul li:hover{
    background: url("../img/fondorange.jpg") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header nav ul li:first-child{
    border-left: 1px solid #181818;
}

header nav ul li:hover ul {
    display:block;   
}

header nav ul li a{
    text-align: center; font-weight:bold; color: #9B9B9B; padding: 0 25px; line-height: 5px;
}
a {color: #92DAF4;text-decoration: none; margin: auto}
a:hover, a:active {color: #fff;text-decoration: none;}

/*---------------------Pagina de Inicio----------------------*/

section{
    margin: 0 auto;
    width: 880px;
    font-family: sans-serif;
    font-size: 14px
}

h2{
    font-size: 34px;
    font-family: fantasy;
    margin-bottom: 0;
}

#contenedor{
    border: 1px white solid ;
    border-radius: 5px;
    width: 880px ; height: 204px;
    margin: 0 auto ;
}

#nombrevento{
    position: absolute;
    bottom: 6px;
    width: 169px; height: 25px;
    padding: 5px 0;
    text-align: center; color: white;
    border: 1px orange solid;
    background: #333 
}

.enlace{
    display: block;
    position: relative;
    float: left;
    padding: 7px 0 7px 4px; 
    height: 190px;
    
}

.even:hover {
    box-shadow: 0 0 10px cornflowerblue ;
}
.enlace:first-child {
    padding-left: 7px
}
.even{
    width: 170px; height: 190px;
    border-radius: 5px 5px 0 0;   
}

/*-----------------------Pagina de Perfil--------------------------*/

#section{
    width: 970px
}

#perfil{
    background: url("../img/perf.png");
    width: 390px;
    border-radius: 10px;
    margin: 50px 0;
    box-shadow: 0 0 10px #000 ;
    float: left;
    border: 1px orange solid 
}

.titulo{
    font-size: 24px;
    font-weight: 700 ;
    padding: 0;
    margin: 10px;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 0.03em
}

#imgperfil{
    margin: 5px 104px 10px;
    width: 180px; height: 200px;
    border: 2px #F5B36C solid;
    box-shadow: 0 0 10px #333;
}

.datosperfil{
    margin: 20px 35px 0;
    font-size: 16px;
    font-weight: bolder ;
    color:#491F1D
}

hr{
    border-color: orange;
    width: 355px;
    box-shadow: 0 0 10px #333;
}

#btneditar{
   background: url(../img/imgboton.jpg);
   margin: 20px 144.5px 20px; 
   width: 100px ; height: 25px; 
   border-radius: 3px;
   box-shadow: 0 0 10px black;
   border: 1px solid darkgreen
}

.nombre{
    font-size: 16px;
    font-weight: 500;
    color: black
}

#miseventos{
    padding-top: 45px; 
    height: 700px;
    margin-left: 440px
}

.miseventos{
    font-size: 18px;
    padding: 0;
    margin: 10px;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 0.03em
}

#edicion_perfil{
    background: white;
    border-radius: 10px;
    position: fixed;
    width: 600px; height: 400px;
    top: 85px; left: 424.5px ;
    z-index: 10;
    display: none;
}

.form{
    margin: 0 85px
}

.form_label{
    margin-left: 25px;
    margin-right: 10px;
    text-align: center; 
    font-weight:bold; 
    color: #9B9B9B; 
    font-size: 16px;
}

.form_btn{
    margin: 12px 35%;
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 15px; font-family: inherit;
    border: 1px solid darkorange;
    border-radius: 3px;
    width: 140px; height: 25px; 
}

.form_perfil{
    margin: 12px 0;
    width: 140px; height: 25px; 
    border: 1px #CCD6DD solid;
    border-radius: 3px;
    padding: 0 5px;
}
.form_perf{
    margin: 12px 0;
    width: 100px; height: 25px; 
    font-size: 13px; font-family: inherit;
    border-radius: 3px;
    border: 1px #CCD6DD solid;
    padding: 0 5px;
}
.form_perf1{
    margin: 12px 0; 
    font-size: 13px; font-family: inherit;
    border-radius: 3px;
    padding: 0 5px;
}
.form_h1{
    padding: 25px;
    font-size: 24px;
    font-family: sans-serif;
    margin: 0;  
}

.form_p{
    margin-top: 0;
    font-size: 19px;
}

/*-------------------------Pagina de Eventos-----------------------------*/

#h2evento{
    margin: 40px 0;
    font-size: 28px;
    text-align: center;
    
}

.eventos{
    border: 1px white solid;
    border-radius: 10px;
}

#imgevent{
    height: 220px; width: 230px;
    margin: 15px;
    box-shadow: 0 0 10px black;
}
#boximg{
    float: left;

}

#e_titulo{
    font-size: 19px;
    font-weight: bolder;
    color: orange;
    margin: 0 490px;
    padding-top: 10px; 
}

.e_descripcion{
    margin: 10px 0;
    font-weight: bolder;
    font-size: 16px;
}

.e_descripcion2{
    margin-top: 17px;
    margin-bottom: 0;
    margin: 10px 0;
    font-weight: bolder;
    font-size: 16px;
}

.e_div{
    float: left;
    width: 300px;
    margin-bottom: 15px;
}

.e_div:last-of-type{
    margin-right: 0
}

.e_span{
    font-weight: 400 ;
}

.e_descripcion_cuerpo{
    margin: 5px 15px;
    text-align: justify; 
}

.inscripcion{
    background: url("../img/fondorange.jpg") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px 215px 10px ;
    font-size: 15px; font-family: inherit;
    border: 1px solid darkorange;
    border-radius: 3px;
    width: 100px; height: 27px; 
    box-shadow: 0 0 10px black;   
}

/*----------------------------Pagina de Pista----------------------------*/

#p_h2{
    margin: 40px 0;
    font-size: 28px;
    text-align: center;
}

.imgpista{
    height: 200px; width: 370px;
    margin: 0 20px 10px;
    box-shadow: 0 0 10px black;
}
 
.p_div{
    width: 370px;
    padding: 0px 20px 1px; 
    border-top: 1px white solid;
}

.p_descripcion1{
    text-align: center;
    width: 370px;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase; 
    font-family: fantasy 
}

.p_descripcion{
    margin: 15px 0;
    font-weight: bolder;
    font-size: 16px;
    float: left;
    width: 185px
}
.p_descripcion2{
    margin: 5px 0 ;
    font-weight: bolder;
    font-size: 16px;
}

.p_span{
    font-weight: 400;
}

.p_span:last-child{
    margin: 0 0 13px ;
    text-align: justify;
}

.p_div_cuerpo{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-right: 50px
}

/*--------------------------Pie de Pagina------------------------------*/
.barrafin{
    background: black;
    position: relative;
    height: 40px;
    margin: 0
}

.derechos{
    color: whitesmoke;
    float: left;
    margin: 11px 20px;
    font-size: small
}

.redessociales{
    float: right;
    width: 30px; height: 30px;
    margin: 4px 6px
}

.cajaderedes{
    margin: 0 70px
}